language: go

go:
  - "1.13"

env:
  - GO111MODULE=on

before_install:
  - sudo apt-get update
  - sudo apt-get install -y libpcap-dev gcc

script:
  - make all
  - make static-tcpdump

before_deploy:
  - make package

deploy:
  provider: releases
  api_key: $GITHUB_OAUTH_TOKEN
  file:
    - ksniff.zip
  skip_cleanup: true
  on:
    tags: true
    branch: master
